<!DOCTYPE html>
<html>
    <head>
        <title>Wellness Nudge</title>
    </head>

    <body>
        <h1>Who would you like to check in on today?</h1>

        <form>
            <label for="text-input">Enter twitter handle:</label>
            <input type="text" id="text-input" name="text-input"><br><br>
            <input type="button" value="Submit" onclick="submitForm()">
        </form>

        <h2>Results</h2>
        <h3>{{output_text}}</h3>
    </body>



    <script>
        function submitForm() {
            var textInput = document.getElementById("text-input").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/process_input", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    var result = JSON.parse(this.responseText);
                    document.getElementById("result").innerHTML = result.output;
                }
            }
            xhr.send(JSON.stringify({ "input_text": textInput }));
        }
    </script>


</html>